[submodule "themes/code-editor"]
	path = themes/code-editor
	url = https://github.com/aubm/hugo-code-editor-theme.git
[submodule "public"]
	path = public
	url = git@github.com:digitaltrickster/digitaltrickster.github.io.git
	branch = master
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/comfusion/after-dark.git
